<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center fs-1 pt-5">Your form submission was invalid.</h1>
    <p class="text-center">Please try your submission again.</p>
    <p class="text-center">Problems with your submission: <%= badSubmit %></p>
    <div class="container">
        <div class="d-flex justify-content-center">
            <a href="/"><button class="btn btn-primary btn-lg px-4 rounded-pill">Return to Homepage</button></a>
        </div>
    </div>
</body>
</html>