<!-- 
Author: Ryan Angaangan
Student ID: 000783037
Date: October 1, 2024
Course: CPRG 210 - Web Application Development
Assignment: HTML, CSS, JavaScript
-->

<%- include("includes/header.ejs") %>

    <!-- Bootstrap Form -->
    <main class="container form-register w-100 mt-5">
        <form class="row g-0 needs-validation">
            <h1 class="h3 mb-3 fw-normal mt-5">Account Registration</h1>
            <div class="form-floating col-md-6">
                <input type="text" class="form-control" id="floating-firstname" placeholder="John">
                <label for="floating-firstname">First Name</label>
            </div>
            <div class="form-floating col-md-6">
                <input type="text" class="form-control" id="floating-lastname" placeholder="Doe">
                <label for="floating-lastname">Last Name</label>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control" id="floating-email" placeholder="name@example.com"> 
                <label for="floating-email">Email address</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floating-phone" placeholder="(555) 555-5555"> 
                <label for="floating-phone">Phone Number</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floating-password" placeholder="Password">
                <label for="floating-password">Password</label>
            </div>
            <div class="form-floating col-md-6">
                <input type="text" class="form-control" id="floating-address" placeholder="Address">
                <label for="floating-address">Address</label>
            </div>
            <div class="form-floating col-md-6">
                <input type="text" class="form-control" id="floating-city" placeholder="City">
                <label for="floating-city">City</label>
            </div>
            <p id="city-description">Input your city.</p>
            <div class="form-floating col-md-6">
                <select class="form-control form-select" id="floating-province">
                    <option value="" disabled selected hidden>Province / Territory</option>
                    <option value="AB">Alberta</option>
                    <option value="BC">British Columbia</option>
                    <option value="MB">Manitoba</option>
                    <option value="NB">New Brunswick</option>
                    <option value="NL">Newfoundland and Labrador</option>
                    <option value="NT">Northwest Territories</option>
                    <option value="NS">Nova Scotia</option>
                    <option value="NU">Nunavut</option>
                    <option value="ON">Ontario</option>
                    <option value="PE">Prince Edward Island</option>
                    <option value="QC">Quebec</option>
                    <option value="SK">Saskatchewan</option>
                    <option value="YT">Yukon</option>
                </select>
                <label for="floating-province">Province / Territory</label>
            </div>
            <div class="form-floating col-md-6">
                <input type="text" class="form-control" id="floating-postal" placeholder="T2C 5P6">
                <label for="floating-postal">Postal Code</label>
            </div>
            <div class="d-grid gap-2 col-6 d-md-block pt-3">
                <button class="btn btn-primary py-2 form-btns" type="button" id="submit-btn">Register</button>
                <button class="btn btn-secondary py-2 form-btns" type="button" id="reset-btn">Reset</button>
            </div>
        </form>
    </main>

<%- include("includes/footer.ejs") %>