/* 
Author: Ryan Angaangan
Student ID: 000783037
Date: October 25, 2024
Course: CPRG 210 - Web Application Development
Assignment: Threaded Project
*/

/* Changes amount of top padding dependiing on the size of the viewport  */
@media screen and (min-width: 769px) {
  body {
    padding-top: 86px;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding-top: 171px;
  }
}
@media screen and (max-width: 991px) {
  body {
    padding-top: 171px;
  }
}

/* Increase the size of the shadow on card text */
.text-shadow-1 {
  text-shadow: 2px 2px 10px black;
}

/* Add a background for packages */
.package-style {
  background: linear-gradient(to bottom right, #4a00e0, #8e2de2);
  border-radius: 15px;
}

.upperText {
  text-transform: uppercase;
}
